@import "partials/base";
@import "icon_fonts";

$footer-height: 50px;
@include sticky-footer($footer-height * 1.5, "#container", "#container_footer", "footer");


footer{
	margin-top: $footer-height * 0.5;
	height: $footer-height;

	line-height: 1;
	font-weight: 200;

	p{
		@include reset-box-model;
		padding-top: 25px;
		font-size: 18px;
	}

	small{
		padding-top:28px;
	}
}


.inline-block-list{
	@include inline-block-list;
}

.unstyled-link{
	@include unstyled-link;
	&:hover{
		text-decoration: none;
		color: inherit;
	}
}

.hide-text{
	@include hide-text;
	display: block;
	width:0;
	line-height: 0;
}

.icon-lg{
	font-size: 45px;
	line-height: 1;
}

.jumbotron{
	.container{
		img{
			padding-right: 10px;
			height: 63px;
			width: auto;
		}
		h1{
			margin-top: 0;
		}
	}

	.icon-github{
		color: #333333;
	}
}

.provider-panel{
	width: 110px;
	text-align: center;

	.panel-body{
		font-size: 50px;
		color: #428bca;
		background: #f0f7fd;

		&[class^="icon-"]::before, &[class*=" icon-"]::before{
			width: -moz-fit-content;
			width: -webkit-fit-content;
			width: fit-content;
			margin: auto;
		}
	}

	.panel-footer{
		background: white;
	}
}

.page-header{
	margin-top: 0;

	h1{
		margin-top: 0;
	}
}

table{
	table-layout: fixed;
}

.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	word-wrap: break-word;

  	h4{
  		margin-top: 0;
  	}

  	p:last-child {
 	margin-bottom: 0;
	}

	code, .highlight{
		background-color: #fff;
	}
}

/* Variations */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-success {
	background-color: #dff0d8;
	border-color: #468847;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}

